In [53]:
import json
import requests
import pandas as pd


# insert your API key here
API_KEY = '1qw7PqyizkXgWik1pZkm1CBxRGM'

# make API request
res = requests.get('https://api.glassnode.com/v1/metrics/market/price_usd_close',
    params={'api_key': API_KEY, 'a':'BTC', 's':1609448400, 'i':"24h", 'f':'JSON'})

print(res.text)
# convert to pandas dataframe
df = pd.read_json(res.text, convert_dates=['t'])
df

[{"t":1609372800,"v":28988.642493531017},{"t":1609459200,"v":29354.310492680135},{"t":1609545600,"v":32031.61971248076},{"t":1609632000,"v":32939.057471683795},{"t":1609718400,"v":31930.83940605436},{"t":1609804800,"v":34070.20033180983},{"t":1609891200,"v":36850.14715350343},{"t":1609977600,"v":39241.93637401782},{"t":1610064000,"v":40771.75946402795},{"t":1610150400,"v":40388.87363752308},{"t":1610236800,"v":38474.29606929845},{"t":1610323200,"v":35603.36377377936},{"t":1610409600,"v":33879.45142976907},{"t":1610496000,"v":37320.808100849805},{"t":1610582400,"v":39192.56322801528},{"t":1610668800,"v":36732.76292548016},{"t":1610755200,"v":36206.743416714606},{"t":1610841600,"v":35774.02336857131},{"t":1610928000,"v":36642.53189467641},{"t":1611014400,"v":36072.63455672601},{"t":1611100800,"v":35553.550809646295},{"t":1611187200,"v":30818.59900858709},{"t":1611273600,"v":33004.723330040426},{"t":1611360000,"v":32057.57127381432},{"t":1611446400,"v":32293.27014680785},{"t":1611532800,"v":32368.11499830086},{"t":1611619200,"v":32571.321685764407},{"t":1611705600,"v":30438.367004209395},{"t":1611792000,"v":33459.35125206922},{"t":1611878400,"v":34318.52819983214},{"t":1611964800,"v":34258.12290596416},{"t":1612051200,"v":33108.29665129587},{"t":1612137600,"v":33543.85974350085},{"t":1612224000,"v":35524.119952273206},{"t":1612310400,"v":37451.367472916325},{"t":1612396800,"v":36924.74200585988},{"t":1612483200,"v":38123.15354014715},{"t":1612569600,"v":39271.99676818323},{"t":1612656000,"v":38904.21414938871},{"t":1612742400,"v":45981.864589684476},{"t":1612828800,"v":46506.134809077426},{"t":1612915200,"v":44886.381099679624},{"t":1613001600,"v":47812.53533389692},{"t":1613088000,"v":47482.86135240913},{"t":1613174400,"v":47067.939135262444},{"t":1613260800,"v":48747.45244155483},{"t":1613347200,"v":47984.954753679056},{"t":1613433600,"v":49175.90051592181},{"t":1613520000,"v":52138.04498768492},{"t":1613606400,"v":51649.57543629381},{"t":1613692800,"v":55776.18881251338},{"t":1613779200,"v":56134.54415202914},{"t":1613865600,"v":57487.03807408455},{"t":1613952000,"v":54092.68879988714},{"t":1614038400,"v":48548.9572135791},{"t":1614124800,"v":49652.01003172871},{"t":1614211200,"v":47209.544068730516},{"t":1614297600,"v":46243.95205410501},{"t":1614384000,"v":46319.696393610844},{"t":1614470400,"v":45119.12569768188},{"t":1614556800,"v":49768.16035012147},{"t":1614643200,"v":48401.732978524866},{"t":1614729600,"v":50698.56833524798},{"t":1614816000,"v":48515.770213777236},{"t":1614902400,"v":48915.789594568705},{"t":1614988800,"v":48905.87987030982},{"t":1615075200,"v":51282.11369865597},{"t":1615161600,"v":52307.860713183174},{"t":1615248000,"v":54696.82182220556},{"t":1615334400,"v":56128.767227455},{"t":1615420800,"v":57800.36671419076},{"t":1615507200,"v":57372.32951283427},{"t":1615593600,"v":61217.050879895614},{"t":1615680000,"v":59728.59392893374},{"t":1615766400,"v":55813.8936028549},{"t":1615852800,"v":56488.62247040071},{"t":1615939200,"v":58748.92354285633},{"t":1616025600,"v":57887.8812431903},{"t":1616112000,"v":58374.206863912295},{"t":1616198400,"v":58443.52143446477},{"t":1616284800,"v":57521.45671319987},{"t":1616371200,"v":54608.25914921329},{"t":1616457600,"v":54888.85537030697},{"t":1616544000,"v":52774.26369049241},{"t":1616630400,"v":51704.16192519879},{"t":1616716800,"v":55137.31372577932},{"t":1616803200,"v":56067.945548474745},{"t":1616889600,"v":55991.20119647779},{"t":1616976000,"v":57769.14012066299},{"t":1617062400,"v":58937.638886814275},{"t":1617148800,"v":58954.497008149716},{"t":1617235200,"v":59118.97407768802},{"t":1617321600,"v":59392.14948112517},{"t":1617408000,"v":57642.97095819078},{"t":1617494400,"v":58752.80659415484},{"t":1617580800,"v":58898.76589833386},{"t":1617667200,"v":58243.4539402529},{"t":1617753600,"v":56219.39629880624},{"t":1617840000,"v":58321.10713544663},{"t":1617926400,"v":58245.00300108353},{"t":1618012800,"v":59793.23541009381},{"t":1618099200,"v":60226.42360963432},{"t":1618185600,"v":59915.46446523154},{"t":1618272000,"v":63603.70817233695},{"t":1618358400,"v":62922.213180229075},{"t":1618444800,"v":63285.56727067338},{"t":1618531200,"v":61611.99680584272},{"t":1618617600,"v":61519.39276311564}]

             t             v
0   2020-12-31  28988.642494
1   2021-01-01  29354.310493
2   2021-01-02  32031.619712
3   2021-01-03  32939.057472
4   2021-01-04  31930.839406
..         ...           ...
103 2021-04-13  63603.708172
104 2021-04-14  62922.213180
105 2021-04-15  63285.567271
106 2021-04-16  61611.996806
107 2021-04-17  61519.392763

[108 rows x 2 columns]

In [17]:
from numpy import array, hstack
type(array(df['v']))

numpy.ndarray

In [42]:
x = array(df['v'])
x = x.reshape((len(x), 1))
y = hstack((x,x))
y = y[-7:,:-1]
y = np.amax(y)
y

627734

In [18]:
df2 = pd.read_json(res2.text, convert_dates=['t'])
df2 = df2.set_index('t')
df2

                       v
t
2020-12-30  3.469810e+09
2020-12-31  3.485250e+09
2021-01-01  3.501732e+09
2021-01-02  3.553512e+09
2021-01-03  3.582743e+09
...                  ...
2021-03-26  4.087941e+09
2021-03-27  4.093515e+09
2021-03-28  4.097805e+09
2021-03-29  4.099296e+09
2021-03-30  4.104089e+09

[91 rows x 1 columns]

In [19]:
df3 = pd.concat([df, df2], axis=1)
df3

                   v             v
t
2020-12-30       NaN  3.469810e+09
2020-12-31  1.024616  3.485250e+09
2021-01-01  1.041846  3.501732e+09
2021-01-02  1.046174  3.553512e+09
2021-01-03  1.043684  3.582743e+09
...              ...           ...
2021-03-26  1.013551  4.087941e+09
2021-03-27  1.022534  4.093515e+09
2021-03-28  1.012423  4.097805e+09
2021-03-29  1.015045  4.099296e+09
2021-03-30  1.018534  4.104089e+09

[91 rows x 2 columns]

In [21]:
df = df.rename(columns={"v" : "sopr"})
df2 = df2.rename(columns={"v" : "cyd"})
df3 = pd.concat([df,df2], axis=1)
df3

                sopr           cyd
t
2020-12-30       NaN  3.469810e+09
2020-12-31  1.024616  3.485250e+09
2021-01-01  1.041846  3.501732e+09
2021-01-02  1.046174  3.553512e+09
2021-01-03  1.043684  3.582743e+09
...              ...           ...
2021-03-26  1.013551  4.087941e+09
2021-03-27  1.022534  4.093515e+09
2021-03-28  1.012423  4.097805e+09
2021-03-29  1.015045  4.099296e+09
2021-03-30  1.018534  4.104089e+09

[91 rows x 2 columns]

In [23]:
len(df3)

91

In [31]:
result = []
for d in df3['sopr']:
    result.append(d)

result

[nan,
 1.0246159036492,
 1.04184552399922,
 1.04617430031182,
 1.0436836711364,
 1.04620665770555,
 1.03848925701724,
 1.04509692139883,
 1.05592484777621,
 1.05356650733703,
 1.04587316947423,
 1.02484138971337,
 1.01267081591466,
 1.01791289986539,
 1.01823945161233,
 1.03074978884148,
 1.01906209316235,
 1.01222630171767,
 1.01024532018479,
 1.01877311664356,
 1.01313344118677,
 1.00551075129362,
 1.00152238603428,
 1.00225166132296,
 1.00559276600052,
 1.0036150687946,
 1.00636837432508,
 1.00272504320095,
 1.01988734497452,
 1.01338259798317,
 1.02367784707424,
 1.0080324432085,
 1.00973193057779,
 1.0066857554919,
 1.01465069015152,
 1.01297318093272,
 1.0184238631951401,
 1.02607160442269,
 1.01459971784315,
 1.01305248611027,
 1.02819102693271,
 1.03381803057587,
 1.02835399955782,
 1.02064985188279,
 1.02319369524044,
 1.01465860826937,
 1.01067845878316,
 1.02486059445129,
 1.01342162181816,
 1.02699647153924,
 1.02778429058363,
 1.0407518124524,
 1.03097025574227,
 1.02312733260428,
 1.01896560598847,
 1.02492574928533,
 1.02201252893324,
 1.01577928199743,
 1.0237105499103,
 0.9969291916668511,
 1.00338271252115,
 1.01522641599799,
 1.0155718626635,
 1.01221344367697,
 1.01105007845068,
 1.00981375465389,
 1.00666502790428,
 1.00575165995554,
 1.01575909197891,
 1.01674583966397,
 1.02075760555809,
 1.03415767306151,
 1.03174070656315,
 1.02651229260326,
 1.02358245158892,
 1.01452671814451,
 1.02339905472182,
 1.01950841222995,
 1.01426418692998,
 1.01263333285607,
 1.01516082424846,
 1.01200858551658,
 1.01687573832885,
 1.01857572565777,
 1.01532899773602,
 1.01404456218249,
 1.01355123336006,
 1.02253443844908,
 1.01242273170626,
 1.01504497238139,
 1.01853371031239]

In [6]:
from datetime import datetime

now = datetime.now().timestamp()

now

1618347321.380968

In [7]:
!python update.py

In [3]:
import numpy as np
a = np.array([[1],[2],[3]])
b = np.array([[4],[5],[6]])
x = np.hstack((a,b))

In [4]:
len(x)

3

In [6]:
num_points = np.atleast_2d(x).shape[1]

In [7]:
num_points

2

In [8]:
metrics = ['addresses/new_non_zero_count', 'addresses/active_count', 
           'addresses/sending_count', 'addresses/receiving_count', 'addresses/count',
           'blockchain/block_height', 'blockchain/block_count', 'blockchain/block_interval_mean',
           'blockchain/block_interval_median', 'blockchain/block_size_sum', 'blockchain/block_size_mean',
           'fees/volume_sum', 'fees/volume_mean', 'market/price_drawdown_relative', 'market/marketcap_usd',
           'supply/current', 'transactions/count', 'transactions/rate',
           'transactions/size_sum', 'transactions/size_mean', 'transactions/transfers_volume_sum',
           'transactions/transfers_volume_mean', 'transactions/transfers_volume_median', 'blockchain/utxo_created_count']

In [9]:
len(metrics)

24

In [3]:
import predict

print(predict.predict(30,5000))

addresses/new_non_zero_count
addresses/active_count
addresses/sending_count
addresses/receiving_count
addresses/count
blockchain/block_height
blockchain/block_count
blockchain/block_interval_mean
blockchain/block_interval_median
blockchain/block_size_sum
blockchain/block_size_mean
fees/volume_sum
fees/volume_mean
market/price_drawdown_relative
market/marketcap_usd
supply/current
transactions/count
transactions/rate
transactions/size_sum
transactions/size_mean
transactions/transfers_volume_sum
transactions/transfers_volume_mean
transactions/transfers_volume_median
blockchain/utxo_created_count
market/price_usd_close
[[28988.64249353]
 [29354.31049268]
 [32031.61971248]
 [32939.05747168]
 [31930.83940605]
 [34070.20033181]
 [36850.1471535 ]
 [39241.93637402]
 [40771.75946403]
 [40388.87363752]
 [38474.2960693 ]
 [35603.36377378]
 [33879.45142977]
 [37320.80810085]
 [39192.56322802]
 [36732.76292548]
 [36206.74341671]
 [35774.02336857]
 [36642.53189468]
 [36072.63455673]
 [35553.55080965]
 [30818.59900859]
 [33004.72333004]
 [32057.57127381]
 [32293.27014681]
 [32368.1149983 ]
 [32571.32168576]
 [30438.36700421]
 [33459.35125207]
 [34318.52819983]
 [34258.12290596]
 [33108.2966513 ]
 [33543.8597435 ]
 [35524.11995227]
 [37451.36747292]
 [36924.74200586]
 [38123.15354015]
 [39271.99676818]
 [38904.21414939]
 [45981.86458968]
 [46506.13480908]
 [44886.38109968]
 [47812.5353339 ]
 [47482.86135241]
 [47067.93913526]
 [48747.45244155]
 [47984.95475368]
 [49175.90051592]
 [52138.04498768]
 [51649.57543629]
 [55776.18881251]
 [56134.54415203]
 [57487.03807408]
 [54092.68879989]
 [48548.95721358]
 [49652.01003173]
 [47209.54406873]
 [46243.95205411]
 [46319.69639361]
 [45119.12569768]
 [49768.16035012]
 [48401.73297852]
 [50698.56833525]
 [48515.77021378]
 [48915.78959457]
 [48905.87987031]
 [51282.11369866]
 [52307.86071318]
 [54696.82182221]
 [56128.76722745]
 [57800.36671419]
 [57372.32951283]
 [61217.0508799 ]
 [59728.59392893]
 [55813.89360285]
 [56488.6224704 ]
 [58748.92354286]
 [57887.88124319]
 [58374.20686391]
 [58443.52143446]
 [57521.4567132 ]
 [54608.25914921]
 [54888.85537031]
 [52774.26369049]
 [51704.1619252 ]
 [55137.31372578]
 [56067.94554847]
 [55991.20119648]
 [57769.14012066]
 [58937.63888681]
 [58954.49700815]
 [59118.97407769]
 [59392.14948113]
 [57642.97095819]
 [58752.80659415]
 [58898.76589833]
 [58243.45394025]
 [56219.39629881]
 [58321.10713545]
 [58245.00300108]
 [59793.23541009]
 [60226.42360963]
 [59915.46446523]
 [63603.70817234]
 [62922.21318023]
 [63285.56727067]
 [61611.99680584]
 [60803.84653164]]
[[60337.617]]
[[60337.617]]