In [1]:
import pandas as pd
import numpy as np
from binance.client import Client
import os
import matplotlib.pyplot as plt
import statistics
from binance.enums import *
from decimal import Decimal

# binance setup
binance_api_key = os.environ.get("BINANCE_KEY")
binance_api_secret = os.environ.get("BINANCE_SECRET")
client = Client(binance_api_key, binance_api_secret)

lists = []
df = [{}]

for kline in client.get_historical_klines_generator("BTCUSDT", Client.KLINE_INTERVAL_1MINUTE, "1 Month ago UTC"):
    labels = ['open time', 'open', 'high', 'low','close','volume','close time','quote asset volume',
              'number of trades','taker buy based asset volume','taker buy based quote volume','ignore']
    kline = np.array(kline)
    lists.append(kline)

df = pd.DataFrame(lists, columns=labels)

#def display_all(df):
    #with pd.option_context("display.max_rows", 1000):
       # with pd.option_context("display.max_columns", 1000):
          #  display(df)

In [2]:
            
os.makedirs('tmp', exist_ok=True)
df.to_feather('tmp/df')

In [3]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import statistics
from decimal import Decimal
df_raw = pd.read_feather('tmp/df')

In [4]:
df_raw.tail()

,open time,open,high,low,close,volume,close time,quote asset volume,number of trades,taker buy based asset volume,taker buy based quote volume,ignore
44222,1582575300000,9627.41000000,9628.66000000,9625.00000000,9625.00000000,24.41707200,1582575359999,235023.79735837,288,4.58945800,44178.78103030,0
44223,1582575360000,9625.00000000,9640.00000000,9625.00000000,9639.89000000,22.65350500,1582575419999,218130.81544039,287,11.58343700,111532.91819183,0
44224,1582575420000,9638.84000000,9638.84000000,9631.57000000,9633.71000000,19.64605700,1582575479999,189292.54394726,310,9.54509300,91975.71252663,0
44225,1582575480000,9633.89000000,9636.77000000,9629.73000000,9629.73000000,16.87461800,1582575539999,162540.73019665,300,6.47971400,62419.23536766,0
44226,1582575540000,9630.18000000,9632.73000000,9628.90000000,9629.26000000,6.89835900,1582575599999,66433.67419180,108,3.14633500,30301.66561536,0

In [5]:
from sklearn.ensemble import RandomForestRegressor, RandomForestClassifier
from IPython.display import display
from sklearn import metrics

y = df_raw["close"]

m = RandomForestRegressor(n_jobs=-1)
m.fit(df_raw,y)
m.score(df_raw,y)

0.9999999785761665

In [10]:
from fastai.imports import *
from fastai.structured import *
from pandas_summary import DataFrameSummary


df, y, nas = proc_df(df_raw, 'close')

def split_vals(a,n): return a[:n].copy(), a[n:].copy()

n_valid = 4000
n_trn = len(df)-n_valid
raw_train, raw_valid = split_vals(df_raw, n_trn)
X_train, X_valid = split_vals(df, n_trn)
y_train, y_valid = split_vals(y, n_trn)

X_train.shape, y_train.shape, X_valid.shape

ModuleNotFoundError: No module named 'fastai.imports'