In [1]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb
import matplotlib.pyplot as plt

In [2]:
tickers = ['PG','BEI.DE']

sec_data = pd.DataFrame()

for t in tickers:
    sec_data[t] = wb.DataReader(t, data_source='yahoo', start='2007-1-1')['Adj Close']

In [3]:
sec_data.tail()

                    PG     BEI.DE
Date
2020-03-11  111.589996  90.860001
2020-03-12  101.839996  84.519997
2020-03-13  114.070000  84.800003
2020-03-16  108.500000  82.820000
2020-03-17  116.430000  85.940002

In [4]:
sec_returns = np.log(sec_data / sec_data.shift(1))

In [5]:
sec_returns

                  PG    BEI.DE
Date
2007-01-03       NaN       NaN
2007-01-04 -0.007621  0.006545
2007-01-05 -0.008624 -0.020772
2007-01-08  0.002202  0.000202
2007-01-09 -0.002517 -0.022858
...              ...       ...
2020-03-11 -0.077233 -0.024569
2020-03-12 -0.091428 -0.072332
2020-03-13  0.113409  0.003307
2020-03-16 -0.050062 -0.023626
2020-03-17  0.070540  0.036980

[3324 rows x 2 columns]

In [8]:
print(sec_returns[['PG','BEI.DE']].mean() * 250)
print(sec_returns[['PG','BEI.DE']].std() *250 ** 0.5)

PG        0.074181
BEI.DE    0.053866
dtype: float64
PG        0.182633
BEI.DE    0.215912
dtype: float64