In [1]:
from __future__ import absolute_import, division, print_function, unicode_literals
import tensorflow as tf

import matplotlib as mpl
import matplotlib.pyplot as plt
import numpy as np
import os
import pandas as pd

mpl.rcParams['figure.figsize'] = (8, 6)
mpl.rcParams['axes.grid'] = False

In [26]:
PATH = "tmp/df_1minute_1yearago"
df = pd.read_feather(PATH)

In [3]:
def univariate_data(dataset, start_index, end_index, history_size, target_size):
  data = []
  labels = []

  start_index = start_index + history_size
  if end_index is None:
    end_index = len(dataset) - target_size

  for i in range(start_index, end_index):
    indices = range(i-history_size, i)
    # Reshape data from (history_size,) to (history_size, 1)
    data.append(np.reshape(dataset[indices], (history_size, 1)))
    labels.append(dataset[i+target_size])
  return np.array(data), np.array(labels)

In [27]:
df.head().transpose()

,0,1,2,3,4
open time,1551260520000,1551260580000,1551260640000,1551260700000,1551260760000
open,3822.81000000,3822.88000000,3821.86000000,3821.50000000,3822.77000000
high,3822.98000000,3822.90000000,3822.75000000,3823.08000000,3822.96000000
low,3822.02000000,3821.83000000,3821.00000000,3821.00000000,3819.33000000
close,3822.88000000,3821.84000000,3821.77000000,3823.00000000,3819.99000000
volume,10.45078000,23.87689200,14.93154600,12.13776500,17.13506200
close time,1551260579999,1551260639999,1551260699999,1551260759999,1551260819999
quote asset volume,39947.81499464,91262.67234072,57062.86173317,46395.67586780,65462.03399792
number of trades,68,121,114,114,99
taker buy based asset volume,5.20190000,4.70267900,6.21381000,8.13017200,6.64419100
taker buy based quote volume,19885.09261657,17976.41116384,23747.48505858,31077.08544243,25383.32904336
ignore,0,0,0,0,0

In [42]:
import time
start = df.iloc[0][0]
end = df.iloc[-1][0]
start = start[:-3]
end = end[:-3]
print(time.strftime('%Y-%m-%d %H:%M:%S', time.localtime(int(start))))
print(time.strftime('%Y-%m-%d %H:%M:%S', time.localtime(int(end))))

2019-02-27 12:42:00
2020-02-27 12:55:00

In [43]:
df.count()

open time                       523436
open                            523436
high                            523436
low                             523436
close                           523436
volume                          523436
close time                      523436
quote asset volume              523436
number of trades                523436
taker buy based asset volume    523436
taker buy based quote volume    523436
ignore                          523436
dtype: int64